/* Layout */
 
body{
    display: grid;
    grid-template-columns: 9fr auto;
    grid-template-rows: 50px auto 50px;
    grid-template-areas: "header header" 
                         "main aside"
                         "footer footer";
}

.aside{
    grid-area: aside;
    overflow: auto;
    width: 0;
    transition: left $animation-duration $animation-ease, width $animation-duration $animation-ease;
    z-index: 10;
}

.header{
    grid-area: header;
}
  
.main{
    grid-area: main;
    display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	grid-gap: 10px;
	grid-auto-rows: minmax(250px, auto);
	grid-auto-flow: dense;
	padding: 10px;
}  

.show-sidebar {
    width: $sidebar-width;
}

.footer {
    grid-area: footer;
    width: 100%;
    padding: 0;
    font-size: 1.2em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $menu-bg-color;
    text-align: center;
    border-top: 1px solid $product-border-color;

    & .footer-socials {
        margin: 60px 0 20px;

        & a {
            display: inline-block;
            margin-right: 5px;
            background-color: $menu-bg-color;
            color: $anchor-text-color;
            font-size: 20px;
            line-height: 45px;
            width: 45px;
            height: 45px;
            border-radius: 50%;
            &:hover {
                background-color: $anchor-color-hover;
                color: $menu-bg-color;
            }
        }
    }

    & .footer-bottom {
        padding: 10px 0 40px;
    }
}

.grid-item {
    display: flex;
    flex: 1 1 240px;
    justify-content: center;
    align-items: center;
    margin: 0 10px;

    & img{
        object-fit: cover;
        width: 100%;
        height: 100%;
        padding: 0;
        max-width: 100%;
    }
}

.product{
    background-color: $product-bg-color;
    text-align: center;
    border-radius: 10px;
    width: 240px;
    height: 360px;
    position: relative;
    overflow: hidden;
    box-shadow: $box-shadow;

    .product-name {
        padding: 0.5rem 0;
        font-size: 1em;
        color: $main-color;
        transition: all .3s;
        background-color: $product-bg-color;
    }

    .product-menu {
        width: 100%;
        height: 360px;
        position: absolute;
        transition: all .7s;
        top: 80%;
        background-color: $product-bg-color;

        .how-many {
            clear: both;
            width: 100%;
            height: 72px;
            line-height: 72px;
            border-top: solid 1px $product-border-color;
            border-bottom: solid 1px $product-border-color;
        }

        .product-price, .product-detail, .buy-now, .cancel, .add-to-cart {
            display: inline-table;
            position: relative;
            margin: 0;
            width: 48%;
            height: 72px;
            line-height: 72px;
            font-size: 1.1rem;
            color: $main-color;
            border-top: solid 1px $product-border-color;
            transition: all .3s;
        }

        .buy-now, .product-detail {
            border-left: solid 1px $product-border-color;
            cursor: pointer;
            float: right;
            width: 50%;
        }

        .buy-now:hover, .product-detail:hover {
            background-color: red;
            color: white;
        }

        .product-detail{
            display: none;
        }

        .cancel {
            width: 50%;
            background-color: red;
            color: white;
            float: left;
            cursor: pointer;
          }
        
        .cancel:hover {
            background-color: white;
            color: red;
        }
        
        .add-to-cart {
            width: 50%;
            background-color: $product-bg-color;;
            float: right;
            cursor: pointer;
        }
        .add-to-cart:hover {
            background-color: red;
            color: white;
        }
          
    }

    .icon {
        display: block;
        transition: all .3s;
        .icon-background {
            width: 80px;
            height: 80px;
            line-height: 80px;
            background-color: $product-bg-color;
            position: absolute;
            top: 0px;
            left: -40px;
            transform: skewX(-45deg);
            
        }
        .shopping-cart {
            color: white;
            display: block;
            position: absolute;
            top: 8px;
            left: 8px;
        }
    }

    .product-picture {
        overflow:hidden;
        top: 20%;
        transition: all .3s;
        img{
            max-width:100%;
            min-width: 240px;
            margin-top:10px;
            
          }
      }


}

.product-back {
    width: 240px;
    height: 360px;
    border-radius: 10px;
    background-color: $product-bg-color;
    color: #EE3B24;
    text-align: center;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    box-shadow: $box-shadow;
    backface-visibility: hidden;
    z-index: -1;
    top: -360px;
    transform: rotateY(180deg);
}

.product-wrapper {
    transition: all 0.7s ease;
    display: block;
    float: left;
    margin: 1em;
    height: 360px;
    transform-style: preserve-3d;
}


.product .icon {
    display: block;
}

.product .icon .icon-background {
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-top-left-radius: 10px;
    background-color: $menu-bg-color;
    position: absolute;
    top: 0px;
    left: -40px;
    transform: skewX(-45deg);
}

.product .icon .shopping-cart {
    color: $anchor-text-color;
    font-size: 1.5em;
    display: block;
    position: absolute;
    top: 8px;
    left: 8px;
}

.product .icon .shopping-cart:hover {
    color: $anchor-color-hover;
}

.back-is-visible {
	z-index: 10;
}


.minus,
.plus {
	background: #fff;
	color: #ee3b24;
	border: 1px solid #ee3b24;
	border-radius: 50%;
}
.minus:hover,
.plus:hover {
	background: #ee3b24;
	color: #fff;
	border: 2px solid #fff;
	border-radius: 50%;
}
.quantity {
	text-align: center;
	font-weight: 700;
	border-radius: 10px;
}